
    <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
        <div class="sidebar-sticky pt-3 mx-auto">

            <ul class="nav flex-column">

                <li class="nav-item  {% if 'controlitens' in segment %} active {% endif %}">
                    <a href="{% url 'controlitens' %}" class="nav-link">
                        <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                        <span>Pagina Inicial</span>
                    </a>
                </li>                

                <li class="nav-item  {% if 'vehicleitens' in segment %} active {% endif %}">
                    <a href="{% url 'vehicleitens' %}" class="nav-link">
                        <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                        <span>Veiculos</span>
                    </a>
                </li>

                <li class="nav-item  {% if 'driveritens' in segment %} active {% endif %}">
                    <a href="{% url 'driveritens' %}" class="nav-link">
                        <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                        <span>Motoristas</span>
                    </a>
                </li> 

                <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>

                <li class="nav-item">
                    <a target="_blank" 
                       href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/getting-started/quick-start/" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon"><span class="fas fa-book"></span></span>
                    <span>GitHub</span>
                    </a>
                </li>

            </ul>            

        </div>
    </nav>

