
    <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
        <div class="sidebar-sticky pt-3 mx-auto">

            <ul class="nav flex-column">

                <li class="nav-item  {% if 'transactions' in segment %} active {% endif %}">
                    <a class="nav-link">
                        <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                        <span>Pagina Inicial</span>
                    </a>
                </li>                

            </ul>

            <ul class="nav flex-column">

                <li class="nav-item  {% if 'transactions' in segment %} active {% endif %}">
                    <a class="nav-link">
                        <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                        <span>Motoristas</span>
                    </a>
                </li>                

            </ul>

            <ul class="nav flex-column">

                <li class="nav-item  {% if 'transactions' in segment %} active {% endif %}">
                    <a class="nav-link">
                        <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
                        <span>Veiculos</span>
                    </a>
                </li>                

            </ul>

        </div>
    </nav>

